apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: container-image.csi.k8s.io
  labels:
    {{- include "warm-metal-csi-driver.labels" . | nindent 4 }}
spec:
  attachRequired: false
  podInfoOnMount: true
  volumeLifecycleModes:
    - Persistent
    - Ephemeral
  {{- if (ge (int .Capabilities.KubeVersion.Minor) 20) }}
  fsGroupPolicy: None
  {{- end}}
