name: Dev Container Build and Push Image

on:
  push:
    branches:
      master
    paths:
      - .github/workflows/devcontainer-build-and-push.yml
      - '.github/.devcontainer/**'
  pull_request:
    paths:
      - .github/workflows/devcontainer-build-and-push.yml
      - '.github/.devcontainer/**'

permissions: write-all

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build dev container image
        uses: devcontainers/ci@v0.3
        with:
          subFolder: .github
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
          push: always
